@using System.Security.Claims
@using Urbagestion.DataAccess.Seeding
@model PageResult<Urbagestion.UI.Web.Models.FacilityViewModels.FacilityIndexViewModel[]>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (this.User.HasClaim(ClaimTypes.Role, MasterData.RoleAdmin))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Result[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result[0].OpensAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result[0].CloseAt)
                </th>
                @if (this.User.HasClaim(ClaimTypes.Role, MasterData.RoleAdmin))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Result[0].IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Result[0].CreationdDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Result[0].CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Result[0].UpdatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Result[0].UpdatedBy)
                    </th>
                }
                
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Result) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpensAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
